# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink:           pretty

# Setup
title:               Under The Dome
tagline:             Under The Dome
description:         All Episodes of UTD is available here
url:                 http://uthedome.github.io/utd
baseurl:             ''
paginate:            5

# About/contact
author:
  name:              Mark Otto
  url:               https://twitter.com/mdo
  email:             markdotto@gmail.com

# Custom vars
version:             1.0.0

excerpt_separator:  <!--more-->
